.homes {
  width: 100%;
  height: 800px;
  padding: 120px 40px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-image: linear-gradient(
    #365ae1 0%,
    #244ae2 4.66%,
    #1029a6 76.69%,
    #1029a6 100%
  );
  .homes__card__one {
    width: 650px;
    height: 450px;

    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    h1 {
      color: white;
      margin-top: 100px;
    }
    p {
      color: white;
    }
    button {
      background-image: linear-gradient(
        #26cd10 0%,
        #1aba34 4.66%,
        #20e140 76.69%,
        #0db130 100%
      );
    }
  }
}
.homes__card__two img {
  width: 700px;
}
.text {
  width: 830px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
  color: rgb(29, 29, 98);
  p {
    color: rgb(76, 72, 72);
  }
}

.main {
  background-image: linear-gradient(
    #365ae1 0%,
    #244ae2 4.66%,
    #1029a6 76.69%,
    #1029a6 100%
  );
  color: white;
  padding: 0 20px;
  width: 90%;
  height: 500px;
  border-radius: 30px;
  padding: 0 50px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Times New Roman", Times, serif;
  h3 {
    margin-top: 15px;
  }
  &__div1 {
    width: 700px;
    height: 370px;

    text-align: center;
  }
  &__div2 {
    width: 700px;
    height: 370px;

    text-align: center;
  }
  &__div3 {
    width: 700px;
    height: 370px;

    text-align: center;
  }
}
